main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-height: 100%;
  z-index: 10;
  padding: 0 64px 32px;
}

h2 {
  background-color: var(--bg-color);
  padding: 0 32px;
}

.line {
  position: absolute;
  top: 67.5px;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: var(--primary);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

section {
  display: flex;
  flex-direction: column;
  width: 40%;
}

span {
  text-align: justify;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

input,
textarea {
  border: 1px solid var(--primary);
  border-radius: 8px;
  padding: 16px 24px;
  color: white;
  background: var(--bg-color);
  outline: none;
  font-size: 16px;
  width: 100%;

  &::placeholder {
    color: white;
    font-size: 16px;
  }

  &:valid {
    border-color: var(--secundary);
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
    box-shadow: 0 0 0px 1000px var(--bg-color) inset;
    -webkit-text-fill-color: white;
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  margin-right: 12px;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + label::after {
      content: "";
      position: absolute;
      top: 4px;
      left: 8px;
      width: 6px;
      height: 12px;
      border: solid var(--secundary);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid var(--secundary);
    background-color: var(--bg-color);
    border-radius: 4px;
    cursor: pointer;
  }
}

textarea {
  resize: none;
  height: 200px;
}

button {
  background-color: var(--primary);
  align-self: center;
  padding: 16px 30px;
}

a {
  color: var(--primary);
}

.input-row {
  position: relative;
  width: 100%;
}

.form-validation-icon {
  position: absolute;
  top: 12px;
  right: 24px;
  width: 24px;
}

.red-border {
  border-color: var(--warning);
}

.alert {
  align-self: baseline;
  color: var(--warning);
  animation: fade-in forwards, opacity forwards;
  animation-duration: 0.125s;
}

.img-box {
  position: absolute;
  display: flex;
  overflow: hidden;
  bottom: 0vh;
  left: 0;
  width: 500px;
  height: 540px;
  align-items: flex-start;
  justify-content: flex-end;
}

.succesMsg {
  transition: all 0.125s ease-in-out;
  transform: translateX(100vw);
  position: absolute;
  bottom: 50%;
  border: 1px solid var(--secundary);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 18px;
}

.show {
  transform: translateX(0);
}

.btn-up {
  background-color: unset;
  padding: 0;
  margin-top: 64px;
  align-self: flex-end;

  &:hover {
    filter: var(--filterPrimary);
    box-shadow: initial;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  50% {
    opacity: 0.2;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-12px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
