<main>
  <div class="line"></div>
  <h2>{{ "contact.title" | translate }}</h2>
  <div data-aos="zoom-in-up" class="container max-width">
    <section>
      <h3>{{ "contact.subtitle" | translate }}</h3>
      <span>{{ "contact.description" | translate }}</span>
      <p>
        {{ "contact.needDeveloper" | translate }}
        <b>{{ "contact.contactMe" | translate }}</b>
      </p>
    </section>

    <section>
      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <app-input
          type="text"
          name="name"
          [(ngModel)]="contactData.name"
          placeholder="{{ 'contact.form.placeholders.name' | translate }}"
          required
          minlength="2"
          #name="ngModel"
          [invalid]="name.invalid && (name.dirty || name.touched)"
          [valid]="name.valid"
          [showValidationIcon]="true"
          autocomplete="given-name"
          pattern="[a-zA-Z0-9äöüÄÖÜß ,.!?@-]+"
        ></app-input>

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
          <div *ngIf="name.errors?.['required']">
            {{ "contact.form.validation.nameRequired" | translate }}
          </div>
          <div *ngIf="name.errors?.['minlength']">
            {{ "contact.form.validation.nameMinLength" | translate }}
          </div>
        </div>

        <app-input
          type="email"
          name="email"
          [(ngModel)]="contactData.email"
          placeholder="{{ 'contact.form.placeholders.email' | translate }}"
          required
          #email="ngModel"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          [invalid]="email.invalid && (email.dirty || email.touched)"
          [valid]="email.valid"
          [showValidationIcon]="true"
          autocomplete="on"
        ></app-input>

        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert"
        >
          <div *ngIf="email.errors?.['required']">
            {{ "contact.form.validation.emailRequired" | translate }}
          </div>
          <div *ngIf="email.errors?.['pattern']">
            {{ "contact.form.validation.emailPattern" | translate }} <br />
            {{ "contact.form.validation.emailPatternExample" | translate }}
          </div>
        </div>

        <app-textarea
          name="message"
          [(ngModel)]="contactData.message"
          placeholder="{{ 'contact.form.placeholders.message' | translate }}"
          required
          #message="ngModel"
          [invalid]="message.invalid && (message.dirty || message.touched)"
          [valid]="message.valid"
          [showValidationIcon]="true"
        ></app-textarea>

        <div
          *ngIf="message.invalid && (message.dirty || message.touched)"
          class="alert"
        >
          <div *ngIf="message.errors?.['required']">
            {{ "contact.form.validation.messageRequired" | translate }}
          </div>
        </div>

        <div class="row">
          <div class="checkbox">
            <input
              id="checkbox"
              type="checkbox"
              name="privacy"
              ngModel
              required
              #checkbox="ngModel"
              pattern="[a-zA-Z0-9äöüÄÖÜß ,.!?@-]+"
            />
            <label for="checkbox"></label>
          </div>
          <span>
            {{ "contact.form.checkboxBeforLinkText" | translate }}
            <a [routerLink]="['/legal-notice']">{{
              "contact.form.privacyPolice" | translate
            }}</a>
            {{ "contact.form.checkboxAfterLinkText" | translate }}
          </span>
        </div>

        <div
          *ngIf="checkbox.invalid && (checkbox.dirty || checkbox.touched)"
          class="alert"
        >
          <div *ngIf="checkbox?.errors?.['required']">
            {{ "contact.form.validation.privacyRequired" | translate }}
          </div>
        </div>

        <app-button type="submit" [disabled]="!contactForm.valid">
          {{ "contact.form.button" | translate }}
        </app-button>

        <span [ngClass]="{ show: mailSendSucess }" class="succesMsg"
          >{{ "contact.succesMsg" | translate }}!</span
        >
      </form>

      <app-button
        variant="plain"
        class="scroll-up-btn"
        [ariaLabel]="'contact.scrollButtonAlt' | translate"
        (clicked)="scroll()"
      >
        <img
          src="assets/icons/navigation/up.png"
          alt="{{ 'contact.scrollButtonAlt' | translate }}"
        />
      </app-button>
    </section>
  </div>
</main>
<div class="img-box" data-aos="fade" data-aos-delay="100">
  <img
    class="primary-filter-blur"
    src="assets/img/background-objects/33. Purple shadow Footer.svg"
    alt=""
  />
</div>
