<div class="borders">
  <app-header></app-header>
  <div class="forgotpassword">
    <div class="content">
      <form #emailform="ngForm" (ngSubmit)="onSubmit(emailform)">
        <div>
          <button routerLink="/">
            <img src="img/arrow_back.png" alt="" />
          </button>
          <div>
            <div>
              <h1>Passwort zurücksetzen</h1>
              <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="emailinput">
            <input
              #email="ngModel"
              [(ngModel)]="user.email"
              name="email"
              required
              type="email"
              placeholder="beispielname@email.com"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
            />
          </div>
          @if(!email.valid && email.touched){
          <span class="error">*Diese E-Mail-Adresse ist leider ungültig.</span>
          }
        </div>
        <div class="errorbox">
          <div class="success" *ngIf="submitted">
            <span>Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</span>
          </div>
        </div>

        <div class="btnborder">
          <button [disabled]="emailform.invalid" class="submitbutton">E-Mail senden</button>
        </div>
      </form>
    </div>
  </div>
  <div [class.active]="isOverlayActive" class="overlay"></div>
  <app-footer></app-footer>
</div>
