.borders {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(/img/Anmeldung.png);
  background-repeat: no-repeat;
  background-position: 96% 90%;
  transform: translateX(100%);
  transition: transform 0.35s ease;
}

.overlay.active {
  transform: translateX(0);
}

.content {
  max-width: 698px;
  width: 100%;
  height: 469px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 526px) {
    max-width: unset;
    width: unset;
    height: unset;
  }
  > form:nth-child(1) {
    padding: 54px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    gap: 30px;
    @media (max-width: 743px) {
      width: 70%;
    }
    @media (max-width: 526px) {
      width: 70%;
      padding: 30px;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
      width: 91%;
      padding: 40px 20px;
      gap: unset;
    }
    > div:nth-child(1) {
      display: flex;
      width: 100%;
      align-items: center;
      text-align: center;
      gap: 30px;
      @media (max-width: 577px) {
        flex-direction: column;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
        flex-direction: column;
        align-items: flex-start;
        gap: unset;
      }
      > button:nth-child(1) {
        position: relative;
        left: 0;
        top: 0;
        background: none;
        border: none;
        cursor: pointer;
      }
      > div:nth-child(2) {
        > div:nth-child(1) {
          > h1:nth-child(1) {
            font-weight: 700;
            font-size: 46px;
            line-height: 55.2px;
            color: #444df2;
            @media (max-width: 400px) {
              overflow-wrap: anywhere;
              font-size: 2rem;
            }
          }
          > span:nth-child(2) {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #000000;
          }
        }
      }
      > div:nth-child(3) {
        padding: 18px 50px;
        border-radius: 100px;
        border: 1px solid #eceefe;
        background-position: 15px;
      }
    }
  }
}

.emailinput {
  padding: 18px 50px;
  border-radius: 100px;
  border: 1px solid #eceefe;
  margin-bottom: 6px;
  overflow-x: hidden;
  > input {
    border: none;
    background: none;
    outline: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    color: #686868;
    background-position: 15px;
  }
}

.success {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #686868;
  width: 56%;
  text-align: center;
  height: 48px;
}

.errorbox {
  height: 48px;
  display: flex;
  justify-content: center;
}

.forgotpassword {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceefe;
}

.submitbutton {
  padding: 12px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.55px;
  color: #ffffff;
  background-color: #444df2;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  border: none;
  &:disabled {
    background-color: #686868;
    color: #ffffff;
    cursor: unset;
  }
  &:hover:not(:disabled) {
    background-color: #797ef3;
  }
}

.btnborder {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.box {
  height: 100%;
  width: 65%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  @media (max-width: 400px) {
    width: 100%;
  }
  > div:nth-child(2) {
    height: 122px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
      height: unset;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
    gap: 20px;
  }
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.1px;
  color: #ed1e79;
}

app-footer {
  width: 100%;
  height: 150px;
  background-color: #eceefe;
  display: flex;
  justify-content: center;
  align-items: center;
}
