[submodule "src/assets/projects/pokedex"]
	path = src/assets/projects/pokedex
	url = https://github.com/Marc-Schaar/pokedex.git
[submodule "src/assets/projects/join"]
	path = src/assets/projects/join
	url = https://github.com/Marc-Schaar/Join.git
[submodule "src/assets/projects/el-pollo-loco"]
	path = src/assets/projects/el-pollo-loco
	url = https://github.com/Marc-Schaar/El-Pollo-Loco.git
[submodule "libs/da-bubble"]
	path = libs/da-bubble
	url = https://github.com/Marc-Schaar/da-bubble.git
	branch = portfolio-branch
[submodule "src/assets/projects/libs/da-bubble"]
	path = src/assets/projects/da-bubble
	url = https://github.com/Marc-Schaar/da-bubble.git
	branch = portfolio-branch
