.pokemon-card {
    width: 214px;
    height: 300px;
}

.name {
    font-size: 18px;
    font-weight: 600;
    top: 8px;
}

.pokemon-types-container {
    bottom: 0px;
    gap: 40px;
    padding: 8px;
}

.pokemonImg {
    width: 180px;
    height: 180px;
    z-index: 10;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.7));
}

.pokemonImg:hover {
    width: 240px;
    height: 240px;
}