main {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (max-width: 1023px) {
    justify-content: center;
    gap: 20px;
    padding: 20px 35px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    gap: 0px;
  }
}

app-header {
  width: 100%;
  align-self: center;
  max-width: 1920px;
}

app-sign-in {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-intro {
  z-index: 999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.d-none {
  display: none;
}

.signup {
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;

  @media only screen and (max-width: 1023px) {
    display: flex;
    padding-top: 8px;
  }
  > p:nth-child(1) {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
  }
  > a:nth-child(2) {
    font-family: "Figtree";
    font-size: 1rem;
    color: #797ef3;
    text-decoration: none;
    padding: 10px 15px;
    @media (max-width: 1023px) {
      border: 1px solid var(--medium-purple);
      border-radius: 25px;
      color: var(--dark-purple);
      width: 165px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      border: 1px solid #adb0d9;
      padding: 9px 14px;
      border-radius: 30px;
    }
  }

  @media screen and (height< 745px) {
    gap: 0px;
  }
}
