<main class="profile-main-cont">
  <header class="profile-header">
    <span>Profil</span>
    <button class="close" (click)="closeMenu()">
      <img src="img/close.svg" alt="" />
    </button>
  </header>

  <img class="profile-img" [src]="reciverData.reciever.profilephoto" alt="" />
  <section class="discription-cont">
    <p class="name">{{ reciverData.reciever.fullname }}</p>

    <div class="status-cont">
      @if(reciverData.reciever.online){
      <div class="circle online"></div>
      <div class="status">Aktiv</div>
      } @else {
      <div class="circle offline"></div>
      <div class="status">Abwesend</div>
      }
    </div>
  </section>

  <section class="contact-cont">
    <div>
      <div class="envelope"><img src="img/mail.png" alt="" /></div>
      <div class="contact">
        <p class="email">Email-Adresse</p>
        <div class="email-route">{{ reciverData.reciever.email }}</div>
      </div>
    </div>
  </section>

  <footer>
    <button (click)="openReciver()" class="btn align-center gap-10">
      <mat-icon class="material-symbols-outlined">mode_comment</mat-icon>
      Nachricht
    </button>
  </footer>
</main>
