<div (mouseleave)="reactionMenuOpenInTextarea = false" (click)="reactionMenuOpenInTextarea = false" class="input-container">
  <textarea
    (keyup.enter)="newMessage()"
    (click)="searchService.closeList(); searchService.setIsDirectTag(false)"
    (input)="searchService.observeInput(input, 'textarea')"
    [(ngModel)]="input"
    rows="3"
    [name]="input"
    [placeholder]="placeholderText"
  ></textarea>

  <div class="action-container justify-sb">
    <div class="gap-10">
      @if (isChannelComponent) {
      <button class="btn" (click)="reactionMenuOpenInTextarea = !reactionMenuOpenInTextarea; $event.stopPropagation()">
        <mat-icon>sentiment_satisfied</mat-icon>
      </button>
      }

      <button class="btn" (click)="searchService.getList('@'); $event.stopPropagation()">
        <mat-icon>alternate_email</mat-icon>
      </button>
      <button class="btn" (click)="searchService.getList('#'); $event.stopPropagation()">
        <mat-icon>tag</mat-icon>
      </button>
    </div>
    <button class="btn btn-send" [disabled]="input.trim() == ''" (click)="newMessage()">
      <mat-icon>send</mat-icon>
    </button>

    @if (searchService.getListBoolean()) {

    <div class="tag-container">
      <app-search-result [input]="input" (tagInserted)="onTagInserted($event)"></app-search-result>
    </div>

    } @if (reactionMenuOpenInTextarea) {
    <div class="reaction-menu">
      <div class="scroll-container">
        @for (emoji of emojis; track $index) {
        <span (click)="addEmoji(emoji); reactionMenuOpenInTextarea = false" class="emoji">
          {{ emoji }}
        </span>
        }
      </div>
    </div>
    }
  </div>
</div>
