<div
  (mouseleave)="reactionMenuOpen = false; reactionMenuOpenInFooter = false; menuOpen = false"
  class="message"
  [ngClass]="{
    reverse: message.name == this.userService.auth.currentUser?.displayName
  }"
>
  @if (!isEditing && channelType!=='direct') {
  <div class="reaction-bar">
    <button
      class="btn-secundary"
      [ngClass]="{ 'bg-purple': this.hasReacted(preSelectedEmojis['checkMark'], message.reaction) }"
      (click)="addReaction(message, preSelectedEmojis['checkMark'])"
    >
      {{ preSelectedEmojis["checkMark"] }}
    </button>
    <button
      class="btn-secundary"
      [ngClass]="{
        'bg-purple': this.hasReacted(preSelectedEmojis['thumbsUp'], message.reaction)
      }"
      (click)="addReaction(message, preSelectedEmojis['thumbsUp'])"
    >
      {{ preSelectedEmojis["thumbsUp"] }}
    </button>
    <button (click)="this.reactionMenuOpen = !this.reactionMenuOpen" class="btn-secundary">
      <mat-icon class="material-symbols-outlined"> add_reaction </mat-icon>
    </button>
    @if (!isThread) {
    <button class="btn-secundary" (click)="openThread(message.id)">
      <mat-icon class="material-symbols-outlined"> comment </mat-icon></button
    >}

    <button
      *ngIf="message.name == this.userService.auth.currentUser?.displayName"
      class="hover-to-dark-purple"
      (click)="this.menuOpen = !this.menuOpen"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    @if (menuOpen && message.name == this.userService.auth.currentUser?.displayName) {
    <div class="menu">
      <button (click)="editMessage(message)">Nachricht bearbeiten</button>
    </div>
    } @if (reactionMenuOpen) {
    <div class="reaction-menu">
      @for (emoji of preSelectedEmojiList; track $index) {
      <button
        class="btn-secundary circle"
        [ngClass]="{ 'bg-purple': this.hasReacted(emoji, message.reaction) }"
        (click)="addReaction(message, emoji)"
      >
        {{ emoji }}
      </button>
      }
    </div>
    }
  </div>
  }

  <img [src]="message.avatar || 'img/profilephoto.png'" alt=" Avatar" />

  @if (!isEditing) {
  <section class="content-container">
    <header class="message-header gap-20">
      <b (click)="showProfile()" class="font-size-18 curser-pointer">{{ message.name }}</b>
      <span class="font-size-14">{{ message.time }} Uhr</span>
    </header>

    <p class="message-main" [innerHTML]="message.message | linkify" (click)="onMentionClick($event)"></p>

    <footer class="message-footer gap-20">
      @if (message.thread?.length > 0) {
      <div class="d-flex gap-20 flex-wrap">
        <span
          class="curser-pointer answer-btn"
          (click)="this.userService.setUrl('thread', this.currentChannelId, userId, message.id); openThread(message.id)"
          >{{ message?.thread?.length }} Antworten</span
        >
        <span class="font-size-14">Letzte Antwort {{ message.thread[message.thread.length - 1]?.time }} Uhr</span>
      </div>
      } @if (channelType!=='direct') {
      <div class="emoji-container">
        @for (emoji of showAllReactions ? uniqueEmojis(message.reaction) : (uniqueEmojis(message.reaction) | slice : 0 :
        (navigationService.isMobile ? 2 : 20)); track $index) {
        <div
          (click)="addReaction(message, emoji.emoji)"
          [ngClass]="{ 'bg-purple': this.hasReacted(emoji.emoji, message.reaction) }"
          class="emoji-box"
        >
          <span>{{ emoji.emoji }}</span>
          <span>{{ countEmoji(emoji, message.reaction) }}</span>
          <div class="reaction-from-dialog">
            <span>{{ emoji.emoji }}</span>
            @for (name of getReactionNamesForEmoji(emoji.emoji, message.reaction); track $index) {
            <h3 class="font-weight-700">{{ name }}</h3>
            } @if (getReactionNamesForEmoji(emoji.emoji, message.reaction).length > 1) { <span>haben</span>} @if (
            getReactionNamesForEmoji(emoji.emoji, message.reaction).length === 1 && getReactionNamesForEmoji(emoji.emoji,
            message.reaction)[0] === 'Du') { <span>hast</span>} @else if ( getReactionNamesForEmoji(emoji.emoji, message.reaction).length
            === 1 && getReactionNamesForEmoji(emoji.emoji, message.reaction)[0] !== 'Du') {<span>hat</span>}
            <span> reagiert</span>
          </div>
        </div>
        }

        <button
          class="emoji-box"
          *ngIf="countUniqueEmojis(message.reaction) > (navigationService.isMobile ? 2 : 20) && !showAllReactions"
          (click)="showAllReactions = true"
        >
          {{ countUniqueEmojis(message.reaction) - (navigationService.isMobile ? 2 : 20) }} weitere
        </button>
        <button
          class="emoji-box"
          *ngIf="message.reaction?.length > (navigationService.isMobile ? 2 : 20) && showAllReactions"
          (click)="showAllReactions = false"
        >
          Weniger anzeigen
        </button>
        <button
          *ngIf="message.reaction?.length > 0"
          (click)="this.reactionMenuOpenInFooter = !this.reactionMenuOpenInFooter"
          class="hover-to-dark-purple"
        >
          <mat-icon class="material-symbols-outlined"> add_reaction </mat-icon>
        </button>

        @if (reactionMenuOpenInFooter) {
        <div class="reaction-menu">
          @for (emoji of preSelectedEmojiList; track $index) {
          <button
            class="btn-secundary circle"
            [ngClass]="{ 'bg-purple': this.hasReacted(emoji, message.reaction) }"
            (click)="addReaction(message, emoji)"
          >
            {{ emoji }}
          </button>
          }
        </div>
        }
      </div>
      }
    </footer>
  </section>
  } @if (isEditing) {
  <div class="input-container edit-input full-width">
    <textarea [(ngModel)]="inputEdit" rows="3"></textarea>

    <div class="action-container">
      <div class="d-flex gap-32">
        <button class="btn btn-outline" (click)="cancel()">Abbrechen</button>
        <button class="btn btn-primary" (click)="updateMessage(message)">Speichern</button>
      </div>
    </div>
  </div>
  }
</div>
