.main {
  display: flex;
  flex-direction: column;
  border-radius: 0 30px 30px 30px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 40px;
  gap: 20px;
  @media (max-width: 1023px) {
    height: 100%;
    border-radius: 0;
    padding: 0;
  }
  .mobile-member-list {
    width: 95%;
    align-self: center;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
    .member-headline {
      font-size: 24px;
      font-weight: 700;
    }
    .member-list {
      gap: 15px;
      display: flex;
      flex-direction: column;
      padding-left: 15px;
      .member-cont {
        padding: 4px 20px 4px 20px;
        cursor: pointer;
        &:hover {
          background-color: var(--bg-color);
          border-radius: 35px;
        }
        .member {
          display: flex;
          align-items: center;
          gap: 15px;
          .member-img {
            position: relative;
            .status-dot {
              width: 14px;
              height: 14px;
              border: 2px solid white;
              background-color: var(--text-grey);
              border-radius: 50%;
              position: absolute;
              bottom: 2px;
              right: 0;
            }
          }
          .member-name {
            font-size: 18px;
            font-weight: 400;
          }

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
    }
    @media (max-width: 1023px) {
      display: flex;
    }
  }
  .exit-channel-cont {
    width: 204px;
    height: 49px;
    min-height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    place-self: end;
    cursor: pointer;
    @media (max-width: 1023px) {
      margin-right: 2%;
    }
    &:hover {
      background-color: var(--medium-purple);
    }
  }
  .channel-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    @media (max-width: 1023px) {
      padding: 40px 16px 10px 16px;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    }
    img {
      cursor: pointer;
    }
    .chanelname-cont {
      display: flex;
      gap: 15px;
      align-items: center;
      .hash {
        font-size: 35px;
      }
    }
  }
  .channelname-edit-cont {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;
    gap: 20px;
    transition: padding 0.1s ease-in-out;
    @media (max-width: 1023px) {
      width: 95%;
      align-self: center;
    }
    .channelname-header {
      display: flex;
      justify-content: space-between;
      .channelname-headline {
        font-weight: 700;
      }
      .nameedit-btn {
        font-weight: 600;
        color: var(--dark-purple-text);
        cursor: pointer;
        font-size: 18px;
        width: 90px;
        height: 25px;
        &:hover {
          font-weight: 700;
          color: var(--dark-purple);
        }
      }
    }
    .hash-channelname {
      display: flex;
      gap: 10px;
      align-items: center;
      .small-hash {
        font-size: 21px;
      }
      .small-channelname {
        font-size: 18px;
        font-weight: 400px;
      }
    }
  }
}

.channeldescription-cont {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgba(173, 176, 217, 1);
  border-radius: 20px;
  gap: 20px;
  transition: padding 0.1s ease-in-out;
  @media (max-width: 1023px) {
    width: 95%;
    align-self: center;
  }
  .creator-name {
    font-size: 24px;
    font-weight: 400;
    color: rgba(83, 90, 241, 1);
  }
  .line {
    width: 100%;
    border: 1px solid rgba(173, 176, 217, 1);
    place-self: center;
  }
  .channelname-header {
    display: flex;
    justify-content: space-between;
    .nameedit-btn {
      font-weight: 600;
      color: var(--dark-purple-text);
      cursor: pointer;
      font-size: 18px;
      width: 90px;
      height: 25px;
      &:hover {
        font-weight: 700;
        color: var(--dark-purple);
      }
    }
  }
}

.change-name-edit-cont {
  border: 0 !important;
  padding: 0 !important;
}

input,
textarea {
  outline: none;
  box-sizing: border-box;
  border-radius: 30px;
  height: 60px;
  border: 1px solid rgba(173, 176, 217, 1);
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  padding-left: 50px;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--medium-purple);
  }
  &:focus-visible {
    border: 1px solid var(--dark-purple-text);
  }
}

.textarea-des {
  align-content: center;
  resize: none;
  max-height: 98px;
  padding: 20px;
  height: 65px;
}

.input-name-cont {
  position: relative;
  cursor: default !important;
  &::before {
    content: "#";
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    z-index: 1;
    color: rgb(0, 0, 0);
  }
}

.description-text {
  font-size: 18px;
  font-weight: 400;
  overflow-wrap: break-word;
  overflow: scroll;
  max-height: 100px;
}

.channelname-headline {
  font-size: 18px;
  font-weight: 700;
}

.green {
  background-color: rgba(146, 200, 62, 1) !important;
}

.add-member-mobile-btn {
  height: 63.5px;
  display: flex;
  align-items: center;
  .margin-left {
    margin-left: 8px;
  }
}

.select-user {
  display: none;
  height: 398px;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px 16px 100px 16px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background: white;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  position: fixed;
  @media (max-width: 1023px) {
    display: flex;
  }
  .input-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .input-help-cont {
      display: flex;
      gap: 20px;
      height: 55px;
      border: 1px solid rgba(173, 176, 217, 1);
      border-radius: 30px;
      align-items: center;
      overflow: auto;
      overflow-y: hidden;
      padding-left: 8px;
      input {
        border: none;
        height: 53px !important;
        padding-left: 8px;
      }
    }
  }
  button {
    width: 147px;
    height: 49px;
    border-radius: 25px;
    padding: 12px 25px 12px 25px;
    background-color: var(--mat-sys-primary);
    color: white;
    border: none;
    gap: 10px;
    cursor: pointer;
    place-self: end;
    font-size: 18px;
  }
  .close-line {
    width: 62px;
    height: 6px;
    border-radius: 23px;
    place-self: center;
    background-color: rgba(217, 217, 217, 1);
    cursor: pointer;
  }
  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      cursor: pointer;
    }
    span {
      font-size: 24px;
      font-weight: 700;
    }
  }
  @media (max-width: 1023px) {
    flex-direction: column;
    z-index: 3;
  }
}

.menu-toggle-open {
  transform: translateY(0%);
}

.choose-user-bar {
  top: 165px;
  width: 335px;
  max-height: 171px;
  border-radius: 0 30px 30px 30px;
  background-color: white;
  position: absolute;
  border: 1px solid rgba(173, 176, 217, 1);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  padding: 20px 21px 20px 21px;
  overflow-y: auto;
  @media (max-width: 440px) {
    width: 290px;
  }
  @media (max-width: 380px) {
    overflow-x: hidden;
    width: 215px;
  }
  .user-select-cont {
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    border-radius: 30px;
    padding: 4px 20px 4px 20px;
    input {
      position: absolute;
    }
    cursor: pointer;
    &:hover {
      background-color: var(--bg-color);
    }
    .img-status-cont {
      position: relative;
      .satus-circle {
        position: absolute;
        background-color: rgba(104, 104, 104, 1);
        border: 2px solid rgba(255, 255, 255, 1);
        top: 40px;
        left: 36px;
        width: 14px;
        height: 14px;
        border-radius: 100%;
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
    }
  }
}

.mini-profile-cont {
  display: flex;
  gap: 15px;
  height: 40px;
  border-radius: 30px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 20px 3px 20px;
  z-index: 2;
  .user-img-mini {
    width: 34px;
    height: 34px;
    border-radius: 100%;
  }
  .cross-mini {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .username-mini {
    width: max-content;
  }
}

.disabled-btn {
  background-color: rgba(104, 104, 104, 1) !important;
}

.dark-background {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
