header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 135px;
  padding: 0 64px;
  > a {
    cursor: pointer;
  }
  background-color: var(--bg-color);
}

.language-btns {
  display: flex;
  gap: 24px;
  font-size: 24px;
  align-items: center;
  > button {
    position: relative;
    box-shadow: unset;
  }
}

.divider {
  height: 22px;
  width: 2px;
  background-color: white;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
  transition: all 0.125s ease-in-out;
  font-size: 2em;

  > a,
  button {
    text-decoration: none;
    color: inherit;
    &:hover,
    &:active {
      color: var(--primary);
    }
    &:hover {
      transform: scale(1.1) translateY(-2px);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: var(--secundary);
    }
    &:hover::after,
    &:active::after {
      max-width: 54px;
      animation: fadeIn 0.125s 1 forwards;
    }
  }
  > {
    .row {
      gap: 8px;
      button {
        position: relative;
        font-size: 24px;
      }
    }
  }
}

.underline {
  color: var(--primary) !important;
  &::after {
    animation: fadeIn 0.125s 1 forwards;
  }
}

.line {
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  transition: all 0.125s ease-in-out;
}

.menu-icon.open .top {
  transform: rotate(45deg);
  transform-origin: 12px 15px;
}

.menu-icon.open .middle {
  opacity: 0;
}

.menu-icon.open .bottom {
  transform: rotate(-45deg);
  transform-origin: 13px 15px;
}

.menu-icon {
  width: 40px;
  height: 35px;
  cursor: pointer;
  display: none;
}

main {
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  transition: all 0.125s ease-in-out;
  transform: translateX(100%);
  > header {
    width: 100%;
  }

  > nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(65, 72, 86);
  }
}

.open {
  transform: translateX(0%);
}

@keyframes fadeIn {
  0% {
    width: 0;
  }
  50% {
    width: 30%;
  }
  100% {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  header {
    height: 80px;
    padding: 0 48px;
  }

  nav {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 0 16px;
  }
}
