header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 135px;
  padding: 0 16px;
  > a {
    cursor: pointer;
  }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
  transition: all 0.125s ease-in-out;
  font-size: 1.5em;

  > a {
    position: relative;
    &:hover {
      color: var(--primary);
      transform: scale(1.1) translateY(-2px);
    }
  }
  a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--secundary);
    transition: all 0.125s ease-in-out;
  }

  a:hover::after {
    width: 100%;
    max-width: 54px;
  }
}

/* Styling für die Linien */
.line {
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  transition: all 0.125s ease-in-out;
}

/* Transformationen für das Kreuz */
.menu-icon.open .top {
  transform: rotate(45deg);
  transform-origin: 12px 15px;
}

.menu-icon.open .middle {
  opacity: 0;
}

.menu-icon.open .bottom {
  transform: rotate(-45deg);
  transform-origin: 13px 15px;
}

.menu-icon {
  width: 40px;
  height: 35px;
  cursor: pointer;
  display: none;
}

.menu {
  transition: all 0.3s ease;
  height: 0;
  overflow: hidden;
}

.menu.open {
  height: 200px; /* Beispielhöhe für ein geöffnetes Menü */
}

@media screen and (max-width: 1023px) {
  nav {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 80px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 425px) {
  header {
    padding: 0 16px;
  }
}
