<div class="content">
  <section id="anchor-atf">
    @defer (on idle) {
      <app-hero-canvas />
    }

    <section class="img-container" data-aos="fade" data-aos-delay="150">
      <picture>
        <source srcset="assets/img/me/portrait.webp" type="image/webp" />
        <img
          class="hero-img"
          ngSrc="assets/img/me/portrait.png"
          width="894"
          height="1023"
          priority
          alt=""
        />
      </picture>
      <div class="shadow-container">
        <span
          id="shadow-left"
          class="shadow primary-filter-blur"
          style="mask-image: url(assets/img/background-objects/hero-shadow-purple.svg); -webkit-mask-image: url(assets/img/background-objects/hero-shadow-purple.svg)"
          aria-hidden="true"
        ></span>
        <span
          id="shadow-right"
          class="shadow secundary-filter-blur"
          style="mask-image: url(assets/img/background-objects/hero-shadow-green.svg); -webkit-mask-image: url(assets/img/background-objects/hero-shadow-green.svg)"
          aria-hidden="true"
        ></span>
      </div>
    </section>

    <section class="headline-container" data-aos="fade" data-aos-delay="150">
      <div class="headline-text">
        <span class="rotate-90">I am</span>
        <div class="column">
          <h1 class="headline">Marc Schaar</h1>
          <span class="highlight-primary">Fullstack Developer</span>
        </div>
      </div>
      <button>
        <a href="#contact">{{ "atf.label" | translate }}</a>
      </button>
    </section>
  </section>

  <aside class="social-links-container" id="anchor-aboutme">
    <div
      class="links"
      data-aos="fade"
      data-aos-delay="150"
      [attr.data-aos-anchor]="'#anchor-atf'"
    >
      <div class="line"></div>
      <div class="row">
        <a href="https://github.com/Marc-Schaar" target="_blank"
          ><img class="icon" ngSrc="assets/icons/git.png" width="31" height="30" [attr.alt]="'social.githubAlt' | translate"
        /></a>
        <a href="mailto:kontakt@marc-schaar.com"
          ><img class="icon" ngSrc="assets/icons/mail.png" width="30" height="30" [attr.alt]="'social.mailAlt' | translate"
        /></a>
        <!-- <a href="https://linkedin.com/" target="_blank"><img class="icon" src="assets/icons/linkedin.png"
                    alt="Linkedin Link"></a> -->
        <span class="mail">kontakt&#64;marc-schaar.com</span>
      </div>
    </div>

    <picture>
      <source
        srcset="assets/img/background-objects/hero-background.webp"
        type="image/webp"
      />
      <img
        class="hero-bg"
        ngSrc="assets/img/background-objects/hero-background.png"
        width="1442"
        height="1079"
        alt=""
      />
    </picture>
  </aside>
</div>
