* {

    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --game-width: 1024px;
    --game-height: 480px;
}


button {
    border: unset;
    background: unset;

}

button:hover {
    scale: 1.1;
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.hide {
    bottom: -100vh;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.6);
}