.about-me-text {
  max-width: 515px;
  padding-left: 64px;
  width: 50%;
  text-align: justify;
}

h2 {
  font-size: 90px;
  text-wrap: nowrap;
}

.img-container {
  display: flex;
  align-items: center;
  width: 50%;
  > img {
    width: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid var(--secundary);
  }
}

.line {
  height: 4px;
  width: 100%;
  background-color: var(--secundary);
}

.gap-l {
  gap: 40px;
}

.gap-m {
  gap: 32px;
}
.gap-s {
  gap: 24px;
}

.row {
  display: flex;
  align-items: center;
  > img {
    transition: all 0.125s ease-in-out;
    &:hover {
      transform: scale(1.25);
    }
  }
}

.bg-object {
  position: absolute;
  height: 536px;
  top: -19vh;
  right: -37vh;
}
