main {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 64px;
  position: relative;
  z-index: 50;
  min-height: 100vh;
  max-height: 100%;
  gap: 36px;
}

h2 {
  white-space: nowrap;
}

.row {
  display: flex;
  align-items: center;

  > img {
    transition: all 0.125s ease-in-out;

    &:hover {
      transform: scale(1.25);
    }
  }
}

.gap-l {
  gap: 40px;
}

.gap-m {
  gap: 32px;
}

.gap-s {
  gap: 24px;
}

.about-me-text {
  width: 50%;
  max-width: 535px;
  text-align: justify;
}

.img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  aspect-ratio: 1;
  overflow: hidden;

  > .box {
    display: flex;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    max-width: 540px;
    background-color: var(--bg-color);
    > img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      border: 4px solid var(--secundary);
    }
  }
}

.line {
  position: absolute;
  right: 0;
  width: 25%;
  height: 4px;
  background-color: var(--secundary);
}

.img-box {
  position: absolute;
  display: flex;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: flex-end;
  top: -24vh;
  right: 0;
  width: 280px;
  z-index: 40;

  > img {
    position: relative;
    z-index: -1;
    width: 250%;
    left: 40px;
  }
}
