main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 50;
  min-height: 100vh;
  max-height: 100%;
  gap: 36px;
}

.row {
  display: flex;
  align-items: center;

  > img {
    transition: all 0.125s ease-in-out;

    &:hover {
      transform: scale(1.25);
    }
  }
}

.gap-l {
  gap: 40px;
}

.gap-m {
  gap: 32px;
}

.gap-s {
  gap: 24px;
}

.about-me-text {
  width: 50%;
  max-width: 515px;
  padding-left: 64px;
  text-align: justify;
}

.img-container {
  display: flex;
  align-items: center;
  width: 50%;

  > img {
    position: relative;
    z-index: 1;
    width: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid var(--secundary);
  }
}

.line {
  width: 100%;
  height: 4px;
  background-color: var(--secundary);
}

.img-box {
  position: absolute;
  display: flex;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: flex-end;
  top: -24vh;
  right: 0;
  width: 280px;

  > img {
    position: relative;
    z-index: -1;
    width: 250%;
    left: 40px;
  }
}
