<main class="scroll-animation">
    <section class="about-me-text gap-l column ">

        <h2>{{'HELLO' | translate}}</h2>
        <div class="gap-m column">
            <span>Hi, I’m a german speaking Frontend Developer based near Munich. Motivated by the limitless
                opportunities
                within IT, I am
                excited about crafting visually captivating and intuitive websites and applications.</span>
            <div class="gap-s column">
                <div class="row"><img src="./../../../assets/icons/Property 1=default (1).svg" alt="">Flexible in terms
                    of
                    working
                    environments, I can work effectively both on-site in Munich and remotely.</div>
                <div class="row"><img src="./../../../assets/icons/Property 1=Default.svg" alt="">I am open-minded and
                    always
                    looking for
                    personal challenges to constantly improve my knowledge and skills.</div>
                <div class="row"><img src="./../../../assets/icons/Property 1=Defauñt.svg" alt="">In my profession,
                    programming
                    isn't just
                    about writing code; it's a creative form of problem-solving. I take pride in my
                    ability to distill complex technical challenges into simple, user-friendly solutions. This way, I
                    help
                    you
                </div>
            </div>
        </div>
    </section>

    <section class="img-container">
        <img src="./../../../assets/img/me/schaar-hero.png" alt="">
        <div class="line"></div>

        <div class="img-box">
            <img src="./../../../assets/img/background-objects/30. Purple shadow about me.svg" alt="">
        </div>
    </section>
</main>