<main class="scroll-animation">
    <section class="about-me-text gap-l column ">

        <h2>{{'aboutMe.title' | translate}}</h2>
        <div class="gap-m column">
            <span>{{'aboutMe.discription' | translate}}</span>
            <div class="gap-s column">
                <div class="row"><img src="assets/icons/Property 1=default (1).svg" alt="">{{'aboutMe.subDiscription1' |
                    translate}}</div>
                <div class="row"><img src="assets/icons/Property 1=Default.svg" alt="">{{'aboutMe.subDiscription2' |
                    translate}}</div>
                <div class="row"><img src="assets/icons/Property 1=Defauñt.svg" alt="">{{'aboutMe.subDiscription3' |
                    translate}}</div>
            </div>
        </div>
    </section>

    <section class="img-container">
        <img src="assets/img/me/schaar-hero.png" alt="">
        <div class="line"></div>

        <div class="img-box">
            <img class="primary-filter" src="assets/img/background-objects/30. Purple shadow about me.svg" alt="">
        </div>
    </section>
</main>