.header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: var(--contactbar-width) 1fr auto;
  padding: 20px;
  width: 100%;
  max-width: 1920px;
}

.logo-container {
  grid-row: 1;
  grid-column: 1;
}

.searchbar {
  grid-row: 1;
  grid-column: 2;
}

.user-menu {
  grid-row: 1;
  grid-column: 3;
}

.header-login {
  display: flex;
  justify-content: center;
}

.signup {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;

  @media (max-width: 1023px) {
    display: none;
  }

  > p:nth-child(1) {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
  }
  > a:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    color: #797ef3;
    text-decoration: none;
    padding: 10px 15px;
    &:hover {
      border: 1px solid #adb0d9;
      padding: 9px 14px;
      border-radius: 30px;
    }
  }
}

.logo-container {
  width: var(--contactbar-width);
}

.searchbar {
  flex: 1;
  position: relative;
}

.d-none {
  display: none !important;
}

.d-none1 {
  display: flex;
  @media (max-width: 1206px) {
    display: none !important;
  }
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 24px;

  > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 12px;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      cursor: pointer;
      @media (max-width: 1023px) {
        width: 50px;
        height: 50px;
      }
    }

    > span:nth-child(1) {
      font-weight: 700;
      font-size: 32px;
      color: #000000;
      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
}

.input {
  border-radius: 42px;
  padding: 17.5px 45px 17.5px 45px;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;

  > input {
    border: none;
    outline: none;
    font-size: 26px;
    font-weight: 700;

    &::placeholder {
      font-size: 18px;
      font-weight: 400px;
    }
    @media (max-width: 400px) {
      width: 100%;
    }
    &:hover {
      outline: none;
    }
  }
  > button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.tag-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 54px;
  outline: 1px solid var(--light-purple);
  border-radius: 0 20px 20px 20px;
  padding: 20px 21px;
  background-color: white;
  z-index: 99;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);
}

.status-dot {
  position: absolute;
  bottom: 0;
  right: -2px;
  width: 12px;
  height: 12px;
  border: solid;
  background-color: gray;
  border-radius: 50%;
  border-color: #eceefe;
  border-width: 2px;
}

.green {
  background-color: #92c83e;
}

.imageContainer {
  position: relative;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 50px !important;
    border-radius: 30px;
    @media (max-width: 1023px) {
      height: 50px !important;
    }
  }
}

.tag {
  border-radius: unset !important;
  max-width: 16px !important;
  max-height: 16px !important;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #72727258;
  z-index: 3;
}

@media (max-width: 1023px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 15px 16px;
    row-gap: 48px;
    background-color: var(--bg-color);

    .logo-container {
      width: fit-content;
      img {
        width: 161.5px;
        height: 45px;
      }
    }

    .searchbar {
      display: none;
    }

    .user-menu {
      grid-row: 1;
      grid-column: 2;

      div {
        img {
          width: 50px;
          cursor: pointer;
        }
      }
      .menu-button {
        display: none;
      }
    }
  }

  .bg-wrapper-mobile {
    grid-row: 2;
    grid-column: 1/4;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    left: 0;
    height: 80px;
    background-color: var(--bg-color);
  }
}
