.skills-text {
  max-width: 515px;
  width: 50%;
  text-align: justify;
}

h2 {
  font-size: 90px;
  text-wrap: nowrap;
}

.skills-container {
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 64px;
}
