@media screen and (max-width: 1000px) {
  main {
    height: unset;
    padding: 0 0 0 48px;
    grid-template-columns: 1fr 60px;
    gap: 0;
    row-gap: 16px;
  }

  .skills-container {
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
    padding: 0;
    row-gap: 16px;
    column-gap: 54px;
  }

  .grid-headline-section {
    grid-column: 1;
    grid-row: 1;
  }

  .grid-contact-section {
    grid-column: 1;
    grid-row: 3;
  }

  .line {
    grid-column: 2;
    grid-row: 1;
    top: -18px;
  }

  .skill {
    width: 48px;
  }

  .wrapper {
    > #spech-bubble {
      width: 153px;
      top: -89%;
      left: -40%;
    }
  }

  .img-box {
    width: 30vw;
    top: 40%;
    > img {
      width: 200%;
      position: relative;
      right: 75px;
    }
  }
}

@media screen and (max-width: 425px) {
  main {
    padding: 0 0 0 16px;
    grid-template-columns: 1fr 24px;
  }
  .line {
    top: -30px;
  }

  .img-box {
    width: 45vw;
  }
}
