app-atf,
app-about-me,
app-skills,
app-portfolio,
app-references,
app-contact {
  position: relative;
}

.content {
  overflow-x: hidden;
  flex-direction: column;
}

.anchor {
  scroll-margin-top: 99px;
}
