app-atf,
app-about-me,
app-skills,
app-portfolio,
app-references,
app-contact {
  position: relative;
  max-width: 1920px;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 54px;
  overflow: hidden;
}

.anchor {
  scroll-margin-top: 135px;
}

app-about-me {
  scroll-margin-top: 135px;
}

@media screen and (max-width: 1000px) {
  .anchor {
    scroll-margin-top: 80px;
  }
}

@media screen and (min-width: 1920px) {
  .content {
    align-items: center;
  }
}
