<footer>
  <div class="container max-width">
    <div class="column">
      <p class="brand">Marc</p>
      <a
        class="hover-underline"
        [routerLink]="['/legal-notice']"
        routerLinkActive="router-link-active"
        >{{ "footer.legalNotice" | translate }}</a
      >
      <a
        class="hover-underline"
        [routerLink]="['/imprint']"
        routerLinkActive="router-link-active"
        >{{ "footer.imprint" | translate }}
      </a>
    </div>

    <span>© Marc Schaar 2025</span>
    <div class="social-links-container">
      <a href="https://github.com/Marc-Schaar" target="_blank"
        ><img
          class="icon"
          src="assets/icons/git.png"
          [attr.alt]="'social.githubAlt' | translate"
      /></a>
      <a href="mailto:kontakt@marc-schaar.com"
        ><img
          class="icon"
          src="assets/icons/mail.png"
          [attr.alt]="'social.mailAlt' | translate"
      /></a>
      <!-- <a href="https://linkedin.com/" target="_blank"><img class="icon" src="assets/icons/linkedin.png"
                alt="Linkedin Link"></a> -->
    </div>
  </div>
</footer>
