<main>
    <h1>{{ 'imprint.title' | translate }}</h1>
    <p>{{ 'imprint.dgb_title' | translate }}</p>
    <p>Marc Schaar <br>
        Brehmstraße 11<br>
        40239 Düsseldorf <br>
    </p>
    <p> <strong>{{ 'imprint.represent_title' | translate }}</strong><br>
        Marc Schaar<br>
    </p>
    <p><strong>{{ 'imprint.contact_title' | translate }}</strong> <br>
        Telefon: <a href='tel:+4915752916139'>+49157-52 91 61 39</a><br>
        E-Mail: <a href='mailto:kontakt@marc-schaar.com'>kontakt(at)marc-schaar.com</a><br>
    </p>
    <p><strong>{{ 'imprint.privacy_title' | translate }}</strong><br><br>
        {{ 'imprint.details1' | translate }}<br>
        {{ 'imprint.details2' | translate }} <br>
        {{ 'imprint.details3' | translate }}
    </p>
</main>