<main>
    <section>
        <h1>{{ 'imprint.title' | translate }}</h1>
        <p>{{ 'imprint.dgb_title' | translate }}</p>
        <p>Marc Schaar <br>
            Brehmstraße 11<br>
            40239 Düsseldorf <br>
        </p>

        <h2> {{ 'imprint.represent_title' | translate }}</h2>
        <p>Marc Schaar</p>


        <h2>{{ 'imprint.contact_title' | translate }}</h2>
        <p><b>Telefon: </b> <a href='tel:+4915752916139'> +49 (0)157-52 91 61 39</a></p>
        <p><b>E-Mail: </b> <a href='mailto:kontakt@marc-schaar.com'> kontakt(at)marc-schaar.com</a></p>

        <h2>{{ 'imprint.privacy_title' | translate }}</h2>
        <p>{{ 'imprint.details1' | translate }}</p>
        <p>{{ 'imprint.details2' | translate }}</p>
        <p>{{ 'imprint.details3' | translate }}</p>

    </section>
</main>