.main {
  width: clamp(200px, 100%, 606px);

  form {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;

  @media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    gap: 10px;
  }
}

.input-box {
  position: relative;
  width: 100%;
}

.input-row {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 100px;
  color: var(--text-grey);

  input {
    border-radius: 100px;
    font-size: 1rem;
    width: 100%;
    padding: 1.125em 0 1.125em 3.75em;
    border: none;
    outline: none;
    background: none;
  }
  mat-icon {
    position: absolute;
    left: 20px;
  }
}

.signinbox {
  text-align: center;
  display: flex;
  padding: 30px;
  gap: 45px;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: #ffffff;
  @media only screen and (max-width: 1023px) {
    gap: 10px;
    padding: 20px 20px;
  }
  @media (max-width: 743px) {
  }
  @media (max-height: 920px) {
    gap: 18px;
  }
  @media (max-width: 860px) {
    gap: 24px;
  }
  @media (max-width: 500px) {
    gap: 20px;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    gap: 5px;
  }

  h1 {
    text-align: center;
    font-size: 2.875rem;
    font-weight: 700;
    color: var(--dark-purple);
    @media (max-width: 400px) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.25rem;
    @media screen and (max-width: 1023px) {
      font-size: 1rem;
    }
  }

  .error {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.1px;
    color: #ed1e79;
    width: 100%;
    display: flex;
  }

  > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
      gap: 0px;
    }
  }

  .btn-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 35px;

    .full-width {
      max-width: 400px;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
      gap: 20px;
    }
  }
}

.btn {
  border-radius: 25px;
  padding: 0.75em 1.563em;
  font-size: 1rem;
  outline: 1px solid var(--medium-purple);
  border: none;
  background: none;
  align-items: center;
  color: var(--medium-purple);
  cursor: pointer;
  &:disabled {
    cursor: unset;
    outline: 1px solid var(--text-grey);
    color: var(--text-grey);
  }

  &:hover:not(:disabled) {
    background-color: var(--medium-purple);
    color: white;
  }
  &:active:not(:disabled) {
    background-color: var(--dark-purple);
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 1023px) {
    font-size: 0.875rem;
  }
}

.link {
  border-radius: 30px;
  padding: 0.313em 0.813em;
  font-size: 1rem;
  color: var(--medium-purple);
  transition: all 0.125s ease-in-out;

  &:hover {
    background-color: var(--bg-color);
  }
}

.btn-google {
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 30px;
  font-weight: 400;
  width: 100%;
  background-color: var(--bg-color);
  outline: none;
  img {
    height: 30px;
    aspect-ratio: 1;
  }
}

.divider {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1rem;
  color: #000000;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 1px;
  background-color: var(--light-purple);
  margin: 5px;
}
