<main>
    <div class="container scroll-animation">
        <section class="references">
            <img class="primary-filter" src="assets/icons/quotation_mark.png">
            <span>{{ 'references.' + references[currentIndex].name | translate }}</span>
            <div class="row">
                <div class="line"></div>
                <span>{{ references[currentIndex].name }} - Team Partner</span>
            </div>
        </section>
        <section class="img-container">
            <img src="assets/img/me/schaar-hero.png" alt="{{references[currentIndex].name}} ">
            <div class="line"></div>

            <div class="img-box">
                <img class="secundary-filter" src="assets/img/background-objects/31. Green shadow Skills Portfolio.svg"
                    alt="">
            </div>
        </section>
    </div>

    <section id="index-row" class="index-row">
        <button (click)="back()"><img class="secundary-filter" src="assets/icons/navigation/arrow_back.png"
                alt=""></button>
        <img *ngFor="let dot of references let i = index" id="dot-{{i}}" [class.active]="i === currentIndex"
            class="primary-filter" src="assets/icons/dot.png">
        <button (click)="next()"><img class="secundary-filter" src="assets/icons/navigation/arrow_forward.png"
                alt=""></button>
    </section>
</main>