.borders {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.d-none {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 50px;
  transform: translateX(100%);
  transition: transform 0.125s ease-in-out;

  span {
    background-color: var(--dark-purple);
    padding: 25px 50px;
    border-radius: 25px 0 25px 25px;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
}

.error {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.1px;
  color: #ed1e79;
  display: flex;
  max-width: 465px;
  text-align: center;
}

.overlay.active {
  transform: translateX(0);
}

.content {
  max-width: 606px;
  width: 100%;
  height: 669px;
  gap: 45px;
  @media (max-width: 690px) {
    width: 80%;
    height: unset;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
    width: 91%;
  }
  > form:nth-child(1) {
    padding: 30px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    position: relative;
    gap: 30px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
      padding: 26px 21px;
      gap: 10px;
    }
    > div:nth-child(1) {
      display: flex;
      width: 100%;
      align-items: flex-start;
      text-align: center;
      gap: 28px;
      @media (max-width: 500px) {
        flex-direction: column;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
        gap: unset;
      }
      > button:nth-child(1) {
        position: relative;
        left: 0;
        top: 25px;
        background: none;
        border: none;
        cursor: pointer;
      }
      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        > h1:nth-child(1) {
          font-weight: 700;
          font-size: 46px;
          color: #444df2;
          @media (max-width: 490px) {
            font-size: 2rem;
          }
          @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
            font-size: 32px;
          }
        }
        > span:nth-child(2) {
          display: flex;
          max-width: 441px;
          width: 100%;
          font-size: 20px;
          color: #000000;
          line-height: 24px;
        }
      }
    }
    > div:nth-child(3) {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      @media (max-width: 344px) {
        justify-content: center;
      }
      > input:nth-child(1) {
        padding: 12px 25px;
        border-radius: 25px;
        background-color: #444df2;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.55px;
        border: none;
        color: #ffffff;
        cursor: pointer;
        &:disabled {
          background-color: #686868;
          color: #ffffff;
          cursor: unset;
        }
        &:hover:not(:disabled) {
          background-color: #797ef3;
        }
      }
    }
  }
}

.profilebox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  > div:nth-child(1) {
    max-width: 168px;
    width: 100%;
    height: 168px;
    @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
      max-width: 88px;
      width: 100%;
      height: 88px;
    }
    @media (max-width: 350px) {
      max-width: 100px;
      height: 100px;
    }

    > img:nth-child(1) {
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }
  > div:nth-child(2) {
    width: 100%;
    @media (max-width: 350px) {
      text-align: center;
    }
    > h2:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 32px;
      line-height: 43.65px;
      color: #000000;
    }
    > p:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 20px;
      line-height: 27.28px;
      color: #000000;
    }
  }
}

.profileicons {
  width: 100%;
  display: flex;
  gap: 8px;
  @media (max-width: 633px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  > img {
    max-width: 64px;
    width: 100%;
    height: 64px;
    border-radius: 50%;
    @media only screen and (min-device-width: 320px) and (max-device-width: 1066px) {
      max-width: 48px;
      width: 100%;
      height: 48px;
    }
  }
}

.singup {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceefe;
}

app-footer {
  width: 100%;
  height: 150px;
  background-color: #eceefe;
  display: flex;
  justify-content: center;
  align-items: center;
}
