@if (this.navigationService.isMobile) {
<app-chat-header></app-chat-header>
}
<main>
  <section (click)="hideList()">
    <div class="chat-header">
      <button (click)="showProfile()">
        <div class="imageContainer">
          <img [src]="currentReciever?.profilephoto || 'img/profilephoto.png'" alt="" />
          <div class="status-dot" [ngClass]="{ green: currentReciever?.online }"></div>
        </div>
        {{ currentReciever?.fullname }}
      </button>
    </div>

    <ul class="chat-content" #chat>
      @for (message of currentMessages; track $index;let i = $index) { @if (message.newDay) {
      <li>
        <app-divider-template [messageData]="message"></app-divider-template>
      </li>
      }
      <li>
        <app-message-template [message]="message" [channelType]="'direct'"></app-message-template>
      </li>
      } @empty {
      <li class="startContainer">
        <div class="userContainer">
          <img [src]="currentReciever?.profilephoto" alt="" />
          <span>{{ currentReciever?.fullname }}</span>
        </div>
        <div class="welcomeText">
          @if (!isYou()) {
          <p>
            Diese Unterhaltung findet nur zwischen
            <a>&commat;{{ currentReciever?.fullname }} </a>und dir statt.
          </p>
          } @else {
          <p>
            <span> Dieser Raum ist nur für dich da.</span> Mache dir Notizen, liste deine To-dos auf oder bewahre Links und Dateien
            griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.
          </p>
          }
        </div>
      </li>
      }
    </ul>

    <footer class="card-footer">
      <app-textarea-template
        [currentUserId]="currentUserId"
        [reciverId]="currentRecieverId"
        [reciverCompontent]="'direct'"
        [messages]="currentMessages"
        [isChannelComponent]="false"
        [placeholderText]="'Nachricht an @' + currentReciever?.fullname"
      ></app-textarea-template>
    </footer>
  </section>
</main>
