<div class="content scroll-animation">
    <main>
        <section class="img-container">
            <img class="hero-img" src="./../../../assets/img/me/schaar-hero.png" alt="">
            <div class="shadow-container">
                <img id="shadow-left" class="shadow" src="./../../../assets/img/background-objects/Purple shadow.svg"
                    alt="">
                <img id="shadow-right" class="shadow" src="./../../../assets/img/background-objects/GReen shadow.svg"
                    alt="">
            </div>
        </section>

        <section class="headline-container">
            <div class="headline-text">
                <span class="rotate-90">I am</span>
                <div class="column">
                    <span class="headline">Marc Schaar</span>
                    <span class="highlight-primary">Frontend Developer</span>
                </div>
            </div>
            <button><a href="#contact">{{ 'atf.label' | translate }}</a></button>
        </section>
    </main>

    <aside class="social-links-container">
        <div class="links">
            <div class="line"></div>
            <a href="https://github.com/FelixFeliices" target="_blank"><img class="icon"
                    src="./../../../assets/icons/Git.png" alt="Git Hub Link"></a>
            <a href="#"><img class="icon" src="./../../../assets/icons/Mail.png" alt="Mail Link"></a>
            <a href="https://linkedin.com/" target="_blank"><img class="icon" src="./../../../assets/icons/Linkedin.png"
                    alt="Linkedin Link"></a>
            <a class="no-hover-effect" href="#">m-schaar&#64;gmx.net</a>
        </div>

        <img class="hero-bg" src="./../../../assets/img/background-objects/28. Hero Background.png" alt="">

    </aside>


</div>