@media screen and (max-width: 1280px) {
  .hero-bg {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .headline-text {
    font-size: 36px;
  }

  .headline {
    font-size: 66px;
    height: 73px;
  }

  .hero-bg {
    margin-top: 100px;
  }

  .shadow-container {
    > #shadow-left {
      left: 24vw;
    }
  }
}

@media screen and (max-width: 1000px) {
  .content {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  main {
    height: calc(100svh - 200px);
    justify-content: flex-end;
    // height: initial;
    // justify-content: initial;
  }

  main {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .img-container {
    flex: initial;
    display: flex;
    justify-content: center;
    align-content: initial;
    height: calc(100% - 80px);
    > img {
      left: 0;
      // // height: 53vh;
      // width: 65%;
      height: 100%;
      width: 100%;
      // height: initial;
    }
  }

  .shadow-container {
    padding-top: 28px;
    > #shadow-left {
      left: 6vw;
    }

    > #shadow-right {
      position: relative;
      right: 4vw;
    }
  }
  .headline-text {
    font-size: 28px;
  }

  .headline {
    font-size: 52px;
    height: 58px;
  }

  .links {
    margin-top: 80px;
    justify-content: center;
    width: calc(50% + 46px);

    > a {
      background: var(--bg-color);
      position: relative;
      z-index: 1;
    }
  }

  .mail {
    display: none;
  }

  .hero-bg {
    margin-top: 0;
    margin-bottom: 320px;
  }
}

@media screen and (max-width: 480px) {
  .hero-bg {
    margin-bottom: 420px;
  }
}

@media screen and (max-width: 425px) {
  .headline-container {
    gap: 12px;
  }

  .img-container {
    > img {
      width: 80%;
    }
  }

  .shadow-container {
    padding-top: 88px;
  }

  .headline-text {
    font-size: 26px;
  }

  .headline {
    font-size: 44px;
    height: 50px;
  }

  .hero-bg {
    margin-bottom: 350px;
  }
}

@media screen and (max-width: 375px) {
  .headline-text {
    font-size: 24px;
  }

  .headline {
    font-size: 37px;
    height: 41px;
  }
}

@media screen and (min-width: 1920px) {
  .img-container {
    max-width: inherit;
    > img {
      left: 4vw;
    }
  }
  .shadow-container {
    left: -4vw;
  }
  .hero-bg {
    width: 125vw;
    left: -30vw;
  }
  .line {
    position: absolute;
    left: -30vw;
    width: 28vw;
  }
}
