@media screen and (max-width: 1024px) {
  .headline-text {
    font-size: 36px;
  }

  .headline {
    font-size: 66px;
    height: 73px;
  }

  .hero-bg {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .img-container {
    > img {
      left: 0;
      height: 53vh;
    }
  }

  .shadow-container {
    padding-top: 28px;
    > #shadow-left {
      left: 6vw;
    }

    > #shadow-right {
      position: relative;
      right: 4vw;
    }
  }
  .headline-text {
    font-size: 28px;
  }

  .headline {
    font-size: 52px;
    height: 58px;
  }

  .links {
    margin-top: 80px;
    justify-content: center;
    width: 100%;

    > .line {
      position: absolute;
      left: 0;
      width: 37vw;
    }
    a:last-child {
      display: none;
    }
    > a {
      background: var(--bg-color);
      position: relative;
      z-index: 1;
    }
  }

  .hero-bg {
    margin-top: 0;
    margin-bottom: 320px;
  }
}

@media screen and (max-width: 480px) {
  .links {
    > .line {
      width: 28vw;
    }
  }
  .hero-bg {
    margin-bottom: 420px;
  }
}

@media screen and (max-width: 425px) {
  .img-container {
    > img {
      height: 68vh;
    }
  }

  .shadow-container {
    padding-top: 88px;
  }

  .headline-text {
    font-size: 26px;
  }

  .headline {
    font-size: 44px;
    height: 50px;
  }

  .links {
    > .line {
      width: 29vw;
    }
  }

  .hero-bg {
    margin-bottom: 412px;
  }
}

@media screen and (max-width: 375px) {
  .links {
    > .line {
      width: 26vw;
    }
  }
}

@media screen and (max-width: 325px) {
  .headline-text {
    font-size: 24px;
  }

  .headline {
    font-size: 37px;
    height: 41px;
  }

  .links {
    > .line {
      width: 23vw;
    }
  }
}
