@media screen and (max-width: 1280px) {
  .hero-bg {
    margin-top: 100px;
  }

  .headline {
    font-size: 3.75rem;
    font-weight: 700;
  }

  .headline-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .hero-bg {
    margin-top: 100px;
  }

  .shadow-container {
    > #shadow-left {
      left: 12vw;
    }
  }
}

@media screen and (max-width: 1000px) {
  .content {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  main {
    height: calc(100svh - 200px);
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .img-container {
    flex: initial;
    display: flex;
    justify-content: center;
    align-content: initial;
    height: calc(100% - 80px);
    > img {
      object-fit: cover;
      left: 0;
      height: 100%;
    }
  }

  .shadow-container {
    padding-top: 28px;
    > #shadow-left {
      left: 6vw;
    }

    > #shadow-right {
      right: 4vw;
    }
  }

  .headline-container {
    flex: 1;
    align-items: center;
  }

  .links {
    margin-top: 50px;
    justify-content: center;
    width: calc(50% + 46px);

    > a {
      background: var(--bg-color);
      position: relative;
      z-index: 1;
    }
  }

  .mail {
    display: none;
  }

  .hero-bg {
    margin-top: 0;
    margin-bottom: 20rem;
  }

  @media screen and (max-width: 570px) {
    .headline-text {
      font-size: 2.2rem;
    }

    .headline {
      font-size: 3.75rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .headline-text {
    font-size: 1.625rem;
  }

  .headline {
    font-size: 2.75rem;
  }

  .headline-container {
    gap: 12px;
  }

  .hero-bg {
    margin-bottom: 240px;
  }
}

@media screen and (max-width: 425px) {
  .shadow-container {
    padding-top: 88px;
  }
}

@media screen and (max-width: 375px) {
  .headline-text {
    font-size: 1.5rem;
  }

  .headline {
    font-size: 2.313rem;
  }
}

@media screen and (min-width: 1920px) {
  .img-container {
    max-width: inherit;
    > img {
      left: 4vw;
    }
  }
  .shadow-container {
    left: -4vw;
  }
  .hero-bg {
    width: 125vw;
    left: -30vw;
  }
  .line {
    position: absolute;
    left: -30vw;
    width: 28vw;
  }
}
