.content {
  height: calc(100vh - 170px);
  max-height: 100%;
  width: 100%;
}

main {
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 0 64px 0 0;
}

.img-container {
  position: relative;
  flex: 1;
  align-content: flex-end;
  max-width: 620px;
  > img {
    position: relative;
    left: 11vw;
    width: 100%;
    height: 90%;
    // aspect-ratio: 1/2;
    // height: 100%;
    object-fit: cover;
    overflow: visible;
    z-index: 2;
  }
}

.shadow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 88px;
  position: absolute;
  top: 6%;
  left: 0;

  > img {
    height: 100%;
  }

  > #shadow-left {
    position: relative;
    left: 20vw;
  }
}

.headline-container {
  display: flex;
  // text-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 120;

  > button {
    background-color: var(--secundary);

    &:hover {
      background-color: var(--primary) !important;
      transform: translateY(2px);
    }
  }
}

.headline-text {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.headline {
  font-size: 75px;
  font-weight: 700;
  height: 86px;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.line {
  width: 100px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 0 2px 2px 0;
}

.social-links-container {
  z-index: 100;
  > a:hover {
    transform: scale(1.25) translateX(3px);
  }
}
.no-hover-effect {
  transform: scale(1) translateX(0) !important;
}

.links {
  display: flex;
  align-items: center;
  gap: 36px;
}
.hero-bg {
  position: absolute;
  margin-top: 146px;
  width: 100%;
  // top: 10vh;
  z-index: -10;
}

@media screen and (max-width: 1024px) {
  .headline-text {
    font-size: 36px;
  }

  .headline {
    font-size: 66px;
    height: 73px;
  }

  .hero-bg {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .img-container {
    // width: 32%;
    > img {
      left: 0;
      height: 53vh;
    }
  }

  .shadow-container {
    padding-top: 28px;
    > #shadow-left {
      left: 6vw;
    }

    > #shadow-right {
      position: relative;
      right: 4vw;
    }
  }
  .headline-text {
    font-size: 28px;
  }

  .headline {
    font-size: 52px;
    height: 58px;
  }

  .links {
    margin-top: 40px;
    justify-content: center;
    width: 100%;

    > .line {
      position: absolute;
      left: 0;
      width: 37vw;
    }
    a:last-child {
      display: none;
    }
    > a {
      background: var(--bg-color);
      position: relative;
      z-index: 1;
    }
  }

  .hero-bg {
    margin-top: 0;
    margin-bottom: 320px;
  }
}

@media screen and (max-width: 480px) {
  .links {
    > .line {
      width: 28vw;
    }
  }
  .hero-bg {
    margin-bottom: 420px;
  }
}

@media screen and (max-width: 425px) {
  .img-container {
    > img {
      height: 68vh;
    }
  }

  .shadow-container {
    padding-top: 88px;
  }

  .headline-text {
    font-size: 26px;
  }

  .headline {
    font-size: 44px;
    height: 50px;
  }

  .links {
    > .line {
      width: 29vw;
    }
  }

  .hero-bg {
    margin-bottom: 412px;
  }
}

@media screen and (max-width: 375px) {
  .links {
    > .line {
      width: 26vw;
    }
  }
}

@media screen and (max-width: 325px) {
  .headline-text {
    font-size: 24px;
  }

  .headline {
    font-size: 37px;
    height: 41px;
  }

  .links {
    > .line {
      width: 23vw;
    }
  }
}
