.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 99px);
  max-height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.img-container {
  position: relative;
  padding-left: 64px;
  > img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: visible;
    z-index: 2;
  }
}

.shadow-container {
  position: absolute;
  top: 36%;
  left: -4vw;
  display: flex;
  width: 100%;
}

.shadow {
  width: 50%;
  height: 100%;
}

// #shadow-right {
//   //   position: absolute;
//   //   left: 18vw;
// }

.headline-container {
  display: flex;
  text-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 40;
  padding-right: 64px;

  > button {
    background-color: var(--secundary);
    color: white;
    font-size: 1.5em;
    transition: all 0.125s ease-in-out;

    &:hover {
      scale: 1.15;
      background-color: var(--primary) !important;
      transform: translateY(2px);
    }
  }
}

.headline {
  font-size: 75px;
  font-weight: 700;
  height: 86px;
}

.headline-text {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.line {
  width: 100px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 0 2px 2px 0;
}

.social-links-container {
  z-index: 100;
  > a:hover {
    transform: scale(1.25) translateX(3px);
  }
}
.no-hover-effect {
  transform: scale(1) translateX(0) !important;
}

.hero-bg {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 30;
}
