.content {
  width: 100%;
  height: calc(100vh - 150px);
  max-height: 100%;
}

main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 0 64px 0 0;
}

.img-container {
  position: relative;
  flex: 1;
  align-content: flex-end;
  max-width: 620px;

  > img {
    position: relative;
    z-index: 2;
    left: 11vw;
    width: 100%;
    height: 90%;
    object-fit: cover;
    overflow: visible;
  }
}

.shadow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 88px;
  position: absolute;
  top: 6%;
  left: 0;

  > img {
    height: 100%;
  }

  > #shadow-left {
    position: relative;
    left: 20vw;
  }
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 120;

  > button {
    background-color: var(--secundary);

    &:hover {
      background-color: var(--primary) !important;
      transform: translateY(2px);
    }
  }
}

.headline-text {
  display: flex;
  align-items: center;
  font-size: 50px;
}

.headline {
  font-size: 75px;
  font-weight: 700;
  height: 86px;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.line {
  flex: 1;
  height: 4px;
  background-color: var(--primary);
  border-radius: 0 2px 2px 0;
}

.social-links-container {
  z-index: 100;

  > a:hover {
    transform: scale(1.25) translateX(3px);
  }
}

.no-hover-effect {
  transform: scale(1) translateX(0) !important;
}

.links {
  display: flex;
  align-items: center;
  position: fixed;
  gap: 36px;
  width: 520px;
}

.row {
  justify-content: center;
  gap: 36px;
  white-space: nowrap;
}

.hero-bg {
  position: absolute;
  margin-top: 146px;
  width: 100%;
  z-index: -10;
}
