@if (this.navigationService.isMobile) {
<app-chat-header></app-chat-header>
}
<main>
  <section>
    <div class="thread-channel-close-button-container">
      <div class="thread-channel-container">
        <div class="thread-container">
          <p>Thread</p>
        </div>
        <div class="channel-name-container"># {{ currentChannel?.name }}</div>
      </div>
      @if (!navigationService.isMobile) {
      <button (click)="closeThread()" class="close-button filter-hover-purple-3">
        <mat-icon>close</mat-icon>
      </button>
      }
    </div>

    <div class="chatbox-container" #chat>
      <li
        [ngClass]="{ reverse: parentMessageData?.name === this.userService.auth.currentUser?.displayName }"
        class="background-color-effect"
      >
        <div class="user-message-container">
          <div class="user-profile-avatar-container">
            <img src="{{ parentMessageData?.avatar || 'img/profilephoto.png' }}" alt="{{ parentMessageData?.name }}" />
          </div>
          <div class="name-time-message-container">
            <div class="name-time-container">
              <div class="name-container">{{ parentMessageData?.name }}</div>
              <div class="time-container">{{ parentMessageData?.time }}</div>
            </div>
            <div class="message-container" [innerHTML]="parentMessageData?.message | linkify" (click)="onMentionClick($event)">
              {{ parentMessageData?.message }}
            </div>
          </div>
        </div>
      </li>

      <div class="answers-line-container">
        {{ messages.length }} Antworten
        <div class="line-container"></div>
      </div>

      <ul>
        @for (message of messages; track $index) {
        <li>
          <app-message-template
            [message]="message"
            [currentChannelId]="currentChannelId"
            [parentMessageId]="parentMessageId"
            [isThread]="true"
          ></app-message-template>
        </li>
        }
      </ul>
    </div>

    <div class="card-footer" (mouseleave)="listOpen = false">
      <app-textarea-template
        [currentUserId]="userId"
        [reciverId]="currentChannelId"
        [reciverCompontent]="'thread'"
        [messages]="messages"
        [isChannelComponent]="true"
        [placeholderText]="'Antworten...'"
        [threadId]="parentMessageId"
      ></app-textarea-template>
    </div>
  </section>
</main>
