:root {
  --bg-color: rgb(20, 29, 47);
  --primary: rgb(0, 190, 232);
  --filterPrimary: brightness(0) saturate(100%) invert(67%) sepia(59%)
    saturate(4327%) hue-rotate(150deg) brightness(97%) contrast(102%);
  --filterPrimaryWithBlur: brightness(0) saturate(100%) invert(67%) sepia(59%)
    saturate(4327%) hue-rotate(150deg) brightness(97%) contrast(102%) blur(20px);

  --secundary: rgb(75, 71, 255);
  --filterSecundary: brightness(0) saturate(100%) invert(37%) sepia(66%)
    saturate(6973%) hue-rotate(236deg) brightness(98%) contrast(108%);
  --filterSecundaryWithBlur: brightness(0) saturate(100%) invert(37%) sepia(66%)
    saturate(6973%) hue-rotate(236deg) brightness(98%) contrast(108%) blur(20px);
  --warning: rgba(230, 28, 64);
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  display: inline-block;
  cursor: pointer;
  border: unset;
  outline: unset;
  background: unset;
  border-radius: 8px;
  font-size: 1.5em;
  white-space: nowrap;
  color: white;
  transition: all 0.125s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgb(20 29 47 / 50%);
  > a {
    padding: 16px 30px;
    display: block;
  }

  &:hover {
    scale: 1.15;
  }

  &:disabled {
    background-color: rgba(211, 211, 211, 0.373) !important;
    border: unset !important;
    cursor: default;
    scale: 1;
    > a {
      cursor: default;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secundary);
}

app-header {
  position: sticky;
  top: 0;
  z-index: 100;
}

main {
  display: flex;
}

h2 {
  font-size: 90px;
  // white-space: nowrap;
  z-index: 2;
}

h3 {
  font-size: 32px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.max-width {
  max-width: 1920px;
}

.highlight-primary {
  color: var(--primary);
}

.highlight-secundary {
  color: var(--secundary);
}

.primary-filter {
  filter: var(--filterPrimary);
}

.primary-filter-blur {
  filter: var(--filterPrimaryWithBlur);
}

.secundary-filter {
  filter: var(--filterSecundary);
}

.secundary-filter-blur {
  filter: var(--filterSecundaryWithBlur);
}

.social-links-container {
  display: flex;
  align-items: center;
  gap: 36px;
  position: relative;
}

.social-links-container > a:hover {
  transform: scale(1.25) translateX(4px) translateY(4px);
  transition: all 0.125s ease-in-out;
}

.icon {
  height: 28px;
}

.scroll-animation {
  transform: translateX(99%);
  filter: blur(10px);
  transition: transform 1s ease-in-out, filter 0.5s ease-in-out;
}

.scroll-animation.visible {
  transform: translateX(0);
  filter: blur(0);
}

@media screen and (max-width: 1280px) {
  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 1.4em;
  }

  button {
    font-size: 1em;
  }
}

@media screen and (min-width: 1920px) {
  .img-box {
    overflow-x: visible !important;
    overflow-y: visible !important;
  }
}
