:root {
  --bg-color: rgb(20, 29, 47);
  --primary: rgb(152, 71, 255);
  --secundary: rgb(112, 230, 29);
}

* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  cursor: pointer;
  border: unset;
  outline: unset;
  background: unset;
  border-radius: 8px;
  padding: 16px 30px;
}

html,
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  // height: 100%;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: Poppins;
  font-size: 14px;
}

app-header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  z-index: 100;
}

app-root {
  display: flex;
  flex-direction: column;
  // height: 100%;
}

// app-main-content {
//   flex: 1;
// }

app-footer {
  z-index: 1000;
}

.column {
  display: flex;
  flex-direction: column;
}

.highlight {
  color: var(--secundary);
}

.highlight-primary {
  color: var(--primary);
}

.social-links-container {
  display: flex;
  align-items: center;
  gap: 36px;
  position: relative;
  > a:hover {
    transition: all 0.125s ease-in-out;
    transform: scale(1.25) translateX(4px) translateY(4px);
  }
}

.icon {
  height: 28px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secundary);
}
