:root {
  --md-sys-color-primary: #006a6a;
  --md-radio-icon-size: 16px;
}
::ng-deep .custom-radio .mat-radio-outer-circle {
  border-color: var(--md-sys-color-primary) !important;
}

::ng-deep .custom-radio .mat-radio-inner-circle {
  background-color: var(--md-sys-color-primary) !important;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 872px;
  height: 514px;
  z-index: 4;
  overflow-x: hidden;
  overflow-y: hidden;

  @media (max-width: 1023px) {
    width: 100%;
    height: 100%;
  }
  .feedback-cont {
    height: 50px;
    width: auto;
    position: absolute;
    bottom: 50px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 0px 30px 0px 30px;
    color: white;
    z-index: 5;
  }
  .add-channel-cont {
    width: 710px;
    height: 279px;
    padding: 40px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, transform 1s ease-in-out;
    transform-origin: center center;
    background: white;
    overflow: visible;

    @media (max-width: 1023px) {
      border-radius: 0px;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .add-channel-create {
      display: flex;
      flex-direction: column;
      gap: 20px;
      z-index: 1;
      form {
        display: flex;
        gap: 20px;
        flex-direction: column;
      }
      .input-cont {
        position: relative;
        cursor: default !important;
        &::before {
          content: "#";
          position: absolute;
          left: 24px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 26px;
          z-index: 1;
          color: rgba(104, 104, 104, 1);
        }
        .channel-name {
          padding-left: 50px;
          &::placeholder {
            color: rgba(104, 104, 104, 1);
          }
        }
      }
      input,
      textarea {
        outline: none;
        box-sizing: border-box;
        border-radius: 30px;
        height: 60px;
        border: 1px solid rgba(173, 176, 217, 1);
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        &:hover {
          border: 1px solid var(--medium-purple);
        }
        &:focus-visible {
          border: 1px solid var(--dark-purple-text);
        }
      }
      .add-channel-header {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 700;
        line-height: 32.74px;
      }
      .description {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.55px;
      }
      .headline {
        font-size: 18px;
        font-weight: 700;
        line-height: 24.55px;
      }
      .headline-optional {
        display: flex;
        gap: 4px;
        .optional {
          font-size: 18px;
          font-weight: 400;
        }
      }
      .channel-description {
        padding: 20px;
        min-height: 60px;
        max-height: 170px;
        overflow-y: hidden;
        resize: none;
        transition: height 0.3s;
      }
    }
  }

  .change-size {
    width: 872px;
    height: 514px;
    @media (max-width: 1023px) {
      width: 100%;
      height: 100%;
    }
  }

  .select-member-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 3;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    .mobile-btn-cont {
      display: flex;
      justify-content: center;
      .mobile-btn {
        width: 62px;
        height: 6px;
        background-color: rgba(217, 217, 217, 1);
        border-radius: 23px;
        cursor: pointer;
      }
    }
    @media (max-width: 1023px) {
      position: absolute;
      width: 100%;
      height: auto;
      box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.2);
      border-radius: 30px 30px 0px 0px;
      bottom: 0px;
      left: 0px;
      z-index: 3;
      padding: 40px 20px;
      background-color: white;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .btn-cont {
        place-self: end;
      }
      .decision {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 18px;
        font-weight: 400;
        .input-cont {
          box-sizing: border-box;
          border-radius: 30px;
          height: 60px;
          border: 1px solid rgba(173, 176, 217, 1);
          width: 100%;
          font-size: 18px;
          font-weight: 400;
          display: flex;
          align-items: center;
          padding: 7.5px 20px 7.5px 20px;
          gap: 5px;
          overflow-x: auto;
          font-size: 18px;
          font-weight: 400;
          position: static;
          cursor: default !important;
          .choose-user-bar {
            top: 210px;
            width: 335px;
            max-height: 171px;
            border-radius: 0 30px 30px 30px;
            background-color: white;
            position: absolute;
            border: 1px solid rgba(173, 176, 217, 1);
            box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
            padding: 20px 21px 20px 21px;
            overflow-y: auto;
            @media (max-width: 1023px) {
              top: 273px;
            }
            .user-select-cont {
              display: flex;
              align-items: center;
              gap: 15px;
              width: fit-content;
              border-radius: 30px;
              padding: 4px 20px 4px 20px;
              cursor: pointer;
              &:hover {
                background-color: var(--bg-color);
              }
              .img-status-cont {
                position: relative;
                .satus-circle {
                  position: absolute;
                  background-color: rgba(104, 104, 104, 1);
                  border: 2px solid rgba(255, 255, 255, 1);
                  top: 40px;
                  left: 36px;
                  width: 14px;
                  height: 14px;
                  border-radius: 100%;
                }
                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 100%;
                }
              }
            }
          }
          .input-help-cont {
            display: flex;
            gap: 10px;
          }
          .mini-profile-cont {
            display: flex;
            gap: 15px;
            height: 40px;
            border-radius: 30px;
            background-color: var(--bg-color);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 20px 3px 20px;
            .user-img-mini {
              width: 34px;
              height: 34px;
              border-radius: 100%;
            }
            .cross-mini {
              width: 10px;
              height: 10px;
              cursor: pointer;
            }
            .username-mini {
              width: max-content;
            }
          }
          input {
            outline: none;
            box-sizing: border-box;
            border: none;
            border-radius: 30px;
            width: 100%;
            height: 100%;
            padding-left: 1px;
          }
          &:hover {
            border: 1px solid var(--medium-purple);
          }
          &:focus-visible {
            border: 1px solid var(--dark-purple-text);
          }
        }
        div {
          label {
            margin-left: 20px;
          }
        }
      }
    }
    .add-channel-user-header {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 700;
    }
  }

  button {
    width: 125px;
    height: 49px;
    background-color: var(--dark-purple);
    border-radius: 25px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    z-index: 2;
  }
}

.green-circle {
  background-color: rgba(146, 200, 62, 1) !important;
}

.d-none {
  display: none;
}
.mobile-menu {
  border-radius: 30px 30px 0px 0px !important;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.234);
  z-index: 3;
}

.close-cont {
  cursor: pointer;
}

.visible-select-menu {
  transform: translateY(0%) !important;
}

.tooltip-cont {
  position: relative;
  place-self: end;
  .tooltip {
    pointer-events: none;
    background-color: var(--dark-purple);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 6px 10px;
    position: absolute;
    z-index: 10;
    bottom: 8px;
    left: -69%;
    transform: translateX(-50%);
    transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    white-space: nowrap;
    font-size: 0.8rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    @media (max-width: 450px) {
      bottom: -45px;
      left: 38%;
    }
  }
}

.feedback {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--medium-purple);
  border-radius: 30px;
  padding: 15px;
  color: white;
}

.disabled-btn {
  background-color: rgba(104, 104, 104, 1) !important;
}
