<div #mainDialog class="main">
  <div class="add-channel-cont" id="add-channel-cont" [ngClass]="{ 'change-size': !selectChannelMember }">
    <div *ngIf="selectChannelMember && isMobile" class="background"></div>
    <div *ngIf="!selectChannelMember || isMobile" class="add-channel-create">
      <div class="add-channel-header">
        <div class="add-channel-text">Channel erstellen</div>
        <div class="close-cont" (click)="closeScreen()">
          <img src="img/close.svg" alt="" />
        </div>
      </div>
      <div class="description">
        Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.
      </div>
      <form (ngSubmit)="onSubmit()" #channelForm="ngForm">
        <div class="headline">Channel-Name</div>
        <div class="input-cont">
          <input
            class="channel-name"
            type="text"
            placeholder="z.B. Kooperationsprojekte"
            [(ngModel)]="channelName"
            name="channelName"
            (click)="isNameTaken = false"
            required
          />
        </div>
        <div class="headline-optional">
          <div class="headline">Beschreibung</div>
          <div class="optional">(optional)</div>
        </div>
        <textarea
          class="channel-description"
          type="text"
          name=""
          id="channel-description"
          (input)="adjustTextareaHeight($event)"
          (blur)="shrinkTextarea($event)"
          (focus)="expandTextarea($event)"
        ></textarea>
        <div class="tooltip-cont">
          <button [disabled]="!channelForm.valid">Erstellen</button>
          <span *ngIf="isNameTaken" class="tooltip">Channelname vergeben</span>
        </div>
      </form>
    </div>
    <div
      class="select-member-cont"
      [ngClass]="{ 'visible-select-menu': selectChannelMember }"
      [style.height]="showUserBar ? '460px' : 'auto'"
    >
      <div (click)="closeScreen()" *ngIf="isMobile" class="mobile-btn-cont"><div class="mobile-btn"></div></div>
      <div class="add-channel-user-header">
        <div class="headline-channel-add-user">Leute hinzufügen</div>
        <div class="close-cont" (click)="closeScreen()">
          <img src="img/close.svg" alt="" />
        </div>
      </div>
      <form>
        <div class="decision">
          <div>
            <input type="radio" id="allMembers" name="channelMember" value="false" (change)="setChannelMember(false, '279px')" checked />
            <label for="allMembers">Alle Mitglieder von DABubble hinzufügen</label>
          </div>
          <div>
            <input type="radio" id="specificMembers" name="channelMember" value="true" (change)="setChannelMember(true, '354px')" />
            <label for="specificMembers">Bestimmte Leute hinzufügen</label>
          </div>
          <div class="input-cont" *ngIf="chooseMember">
            <div class="input-help-cont">
              <div class="mini-profile-cont" *ngFor="let selectedUser of selectedUsers; let index = index">
                <img class="user-img-mini" src="{{ selectedUsers[index]?.profilephoto }}" alt="" />
                <div class="username-mini">
                  {{ selectedUsers[index]?.fullname }}
                </div>
                <img (click)="removeSelectedUser(index)" src="img/close.svg" alt="" class="cross-mini" />
              </div>
              <div class="choose-user-bar" #chooseUserBar *ngIf="showUserBar">
                <div
                  class="user-select-cont"
                  (click)="addUserToSelection(index)"
                  *ngFor="let filteredUser of filteredUsers; let index = index"
                >
                  <div class="img-status-cont">
                    <img src="{{ filteredUser.profilephoto }}" alt="" />
                    <div class="satus-circle" [ngClass]="{ 'green-circle': filteredUser.online }"></div>
                  </div>
                  <div>{{ filteredUser.fullname }}</div>
                </div>
                <div></div>
              </div>
            </div>
            <input name="" id="user-search-bar" (input)="openUserBar()" (click)="openUserBar()" (keyup)="filterUsers()" #userSearchInput />
          </div>
        </div>
        <div class="btn-cont">
          <button [ngClass]="{ 'disabled-btn': disabled }" [disabled]="disabled" (click)="addUserToChannel()" >Erstellen</button>
        </div>
      </form>
    </div>
  </div>

  <div class="feedback" *ngIf="showFeedback">
    <span class="feedback-msg" id="feedbackMessage">Channel wurde erstellt</span>
  </div>
    <div class="feedback" *ngIf="showUserFeedback">
    <span class="feedback-msg" id="feedbackMessage">Benutzer wurden hinzugefügt</span>
  </div>
</div>
