<footer>
    <div class="column">
        <h1>Marc</h1>
        <a class="hover-underline" [routerLink]="['/legal-notice']" routerLinkActive="router-link-active">{{
            'footer.legalNotice' | translate }}</a>
        <!-- <a class="hover-underline" [routerLink]="['/imprint']" routerLinkActive="router-link-active">{{
            'footer.imprint' | translate }}
        </a> -->

    </div>

    <span>© Marc Schaar 2025</span>
    <div class="social-links-container">
        <a href="hhttps://github.com/FelixFeliices" target="_blank"><img class="icon" src="assets/icons/Git.png"
                alt="Git Hub Link"></a>
        <a href="#contact"><img class="icon" src="assets/icons/Mail.png" alt="Mail Link"></a>
        <!-- <a href="https://linkedin.com/" target="_blank"><img class="icon" src="assets/icons/Linkedin.png"
                alt="Linkedin Link"></a> -->
    </div>

</footer>