footer {
  display: flex;
  justify-content: center;
  padding: 64px;
  border-top: 4px solid var(--secundary);
}

.column {
  gap: 12px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  > div > a {
    font-size: 16px;
  }

  > span {
    font-size: 18px;
  }
}

.social-links-container {
  > a:hover {
    transform: scale(1.25) translateX(4px) translateY(4px);
  }
}

.icon {
  height: 28px;
}

.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--secundary);
  transition: all 0.125s ease-in-out;
}

.hover-underline:hover::after {
  width: 36px;
}

@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
