<footer>
    <div>
        <h1>Mar<span class="highlight-secundary">c</span> </h1>
        <a class="hover-underline" href="imprint">Legal Notice</a>
    </div>

    <span>© Marc Schaar 2024</span>
    <div class="social-links-container">
        <a href="https://github.com/" target="_blank"><img class="icon" src="./../../../assets/icons/Git.png"
                alt="Git Hub Link"></a>
        <a href="#"><img class="icon" src="./../../../assets/icons/Mail.png" alt="Mail Link"></a>
        <a href="https://linkedin.com/" target="_blank"><img class="icon" src="./../../../assets/icons/Linkedin.png"
                alt="Linkedin Link"></a>
    </div>

</footer>