@if (this.navigationService.isMobile) {
<app-chat-header></app-chat-header>
}
<main>
  <section>
    <div class="header gap-20">
      <h1 class="newText">Neue Nachricht</h1>

      <input
        [(ngModel)]="input"
        (input)="searchService.observeInput(input, 'newMessage')"
        type="text"
        placeholder="An: #Channel, oder @jemand oder E-Mail-Adresse"
      />
    </div>

    @if (searchService.getNewListBoolean()) {
    <div class="tag-container">
      <app-search-result [(input)]="input" (currentReceiver)="setReceiver($event)">></app-search-result>
    </div>
    }

    <div class="card-footer">
      <app-textarea-template
        [placeholderText]="'Starte eine Nachricht an: ' + (currentReceiver.data?.name || currentReceiver.fullname || '...')"
        [reciverId]="getReceiverId()"
        [currentUserId]="userService.auth.currentUser?.uid!"
        [reciverCompontent]="isChannel(currentReceiver) ? 'channel' : 'direct'"
      ></app-textarea-template>
    </div>
  </section>
</main>
