main {
  display: flex;
  height: 100%;
  margin-right: 1em;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100svh - var(--header-offset));
  background-color: white;
  border-radius: 30px;
  border: none;
  position: relative;
  overflow: clip;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 45px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

  > input {
    width: 100%;
    border: unset;
    outline: 1px solid var(--light-purple);
    padding: 15px 20px;
    border-radius: 20px;
    transition: all 0.125s ease-in-out;

    &:hover {
      outline: 1px solid var(--medium-purple);
    }
    &:focus {
      outline: 1px solid var(--dark-purple);
      &::placeholder {
        visibility: hidden;
      }
    }
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-footer {
  padding: 25px;
}

button {
  background: unset;
  border: unset;
}

.tag-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 118px;
  padding: 20px 21px;
  background: white;
  outline: 1px solid var(--medium-purple);
  border-radius: 0 0 15px 15px;
}
@media screen and (max-width: 1023px) {
  main {
    margin: 0;
  }

  section {
    max-height: calc(100svh - 110px);
    border-radius: 0;
    margin: 0;
  }
  .header {
    padding: 20px 16px 7px 16px;
  }
}
