<main>
  <div class="line" data-aos="fade-left"></div>
  <h2 data-aos="fade-left">Portfolio</h2>
  <p data-aos="fade" data-aos-delay="250">
    {{ "portfolio.subtitle" | translate }}
  </p>

  <ng-container *ngFor="let projcet of projects; let i = index">
    <section
      [id]="'project-' + i"
      class="max-width"
      [ngClass]="{ 'row-reverse': i % 2 === 0 }"
    >
      <img
        [src]="'assets/img/projects/' + projcet.image + '.png'"
        [alt]="'Desktop Ansicht von ' + projcet.title"
        [attr.data-aos]="aosEffects[i % aosEffects.length]"
        [attr.data-aos-delay]="baseDelay * i"
        [attr.data-aos-duration]="aosDuration"
        [attr.data-aos-anchor]="'#project-' + i"
        [attr.data-aos-anchor-offset]="aosAnchorOffset"
      />
      <div
        class="box"
        [attr.data-aos]="aosEffects[(i + 1) % aosEffects.length]"
        [attr.data-aos-delay]="baseDelay * i"
        [attr.data-aos-duration]="aosDuration"
        [attr.data-aos-anchor]="'#project-' + i"
        [attr.data-aos-anchor-offset]="aosAnchorOffset"
      >
        <h3>{{ projcet.title }}</h3>
        <p class="sub-title">
          {{ projcet.skills.join(" | ") }}
        </p>
        <p>{{ "portfolio." + projcet.description | translate }}</p>
        <div class="row">
          <button class="primary hover-secundary">
            <a
              [href]="'https://' + projcet.image + '.marc-schaar.com'"
              target="_blank"
              >Live Test</a
            >
          </button>
          <button class="secundary-border hover-secundary">
            <a
              [href]="'https://github.com/Marc-Schaar/' + projcet.image"
              target="_blank"
              >Git Hub</a
            >
          </button>
        </div>
      </div>
    </section>
  </ng-container>
</main>

<div class="img-box" data-aos="fade" data-aos-delay="100">
  <img
    class="bg-object primary-filter-blur"
    src="assets/img/background-objects/32 Purple shadow portfolio.svg"
    alt=""
  />
</div>
