<main>
    <div class="line"></div>
    <h2>Portfolio</h2>
    <span>{{ 'portfolio.subtitle' | translate }}</span>

    <section class="scroll-animation">
        <img src="assets/img/projects/join photo.png" alt="">
        <div class="box">

            <h3>Join</h3>

            <span class="sub-title">HTML | CSS | FIREBASE</span>
            <span>{{ 'portfolio.joinDescription' | translate }}</span>
            <div class="row">
                <button class="primary  hover-secundary">
                    <a href="https://join.marc-schaar.dev" target="_blank">Live Test</a>
                </button>
                <button class="secundary-border hover-secundary">
                    <a href="https://github.com/FelixFeliices/Join" target="blank">Git
                        Hub</a>
                </button>
            </div>
        </div>
    </section>

    <section class="row-reverse scroll-animation">
        <img src="assets/img/projects/join photo.png" alt="">
        <div class="box">
            <h3>El-Pollo-Loco</h3>
            <span class="sub-title">HTML | CSS | OOP</span>
            <span>{{ 'portfolio.elPolloLocoDescription' | translate }}</span>
            <div class="row">
                <button class="primary  hover-secundary">
                    <a href="https://el-pollo-loco.marc-schaar.dev" target="_blank">Live Test</a>
                </button>
                <button class="secundary-border hover-secundary">
                    <a href="https://github.com/FelixFeliices/El-Pollo-Loco" target="blank">Git
                        Hub</a>
                </button>
            </div>
        </div>
    </section>

    <section class="scroll-animation">
        <img src="assets/img/projects/join photo.png" alt="">
        <div class="box">
            <h3>Pokedex</h3>
            <span class="sub-title">HTML | CSS | REST API | BOOTSTRAP</span>
            <span>{{ 'portfolio.pokedexDescription' | translate }}</span>
            <div class="row">
                <button class="primary hover-secundary">
                    <a href="https://pokedex.marc-schaar.dev" target="_blank">Live Test</a>
                </button>
                <button class="secundary-border hover-secundary">
                    <a href="https://github.com/FelixFeliices/pokedex" target="blank">Git
                        Hub</a>
                </button>
            </div>
        </div>
    </section>

    <section class="row-reverse scroll-animation">
        <img src="assets/img/projects/join photo.png" alt="">
        <div class="box">
            <h3>DA Bubble</h3>
            <span class="sub-title">HTML | CSS | ANGULAR | FIREBASE</span>
            <span>{{ 'portfolio.daBubbleDescription' | translate }}</span>
            <div class="row">
                <button disabled class="primary  hover-secundary">
                    <a href="#" target="_blank">Live Test</a>
                </button>
                <button disabled class="secundary-border hover-secundary">
                    <a href="#" target="blank">Git
                        Hub</a>
                </button>
            </div>
        </div>
    </section>
</main>

<div class="img-box">
    <img class="bg-object" src="assets/img/background-objects/32 Purple shadow portfolio.svg" alt="">
</div>