<input
  [type]="type"
  [name]="name"
  [placeholder]="placeholder"
  [autocomplete]="autocomplete"
  [disabled]="disabled"
  [value]="value"
  [class.invalid]="invalid"
  [class.valid]="valid"
  (input)="onInput($event)"
  (blur)="onBlur()"
/>

<img
  class="validation-icon"
  *ngIf="showValidationIcon && valid"
  src="assets/icons/form_validation/correct.png"
  alt=""
/>
<img
  class="validation-icon"
  *ngIf="showValidationIcon && invalid"
  src="assets/icons/form_validation/wrong.png"
  alt=""
/>
